#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf5;
  font-family: 'Lexend', sans-serif;
  color: #0a0700;
}

html {
  background-color: #fffcf5;
}

button {
  margin: 0.5vw;
}
audio {
  margin: 1vh;
}

.galleryImage {
  margin: 3vh;
}

.welcomeGrid {
  display: grid;
  grid-template-rows: 15vh auto;
}

.welcomeContainer {
  grid-row: 2;
}

.welcome {
  min-width: 490px !important;
}

textarea {
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
  width: 40vw;
  min-width: 400px;
}

.Container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.chunksContainer {
  margin: 1vh;
}

.audioPlayer {
  width: 40vw;
  min-width: 385px;
  height: 10vh;
}

.HorizontalContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: space-between;
}

.textInput {
  width: 25vw;
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
}

.center {
  align-self: center;
  justify-self: center;
}

#title {
  justify-self: center;
  align-self: center;
  margin: 1vw 1vw;
}

#logo {
  width: 20vw;
  min-width: 175px;
  height: auto;
  position: fixed;
  top: 1vh;
  left: 1vw;
}

.welcome {
  min-width: 450px;
}

h2.center {
  margin-bottom: 0;
  color:#0a0700
}
h6, h4, h5, h1 {
  margin-block-start: 0;
  max-width: 40vw;
  text-align: center;
}
h5 {
  font-weight: 200;
  margin-bottom: 0.5vh;
  text-align: center;
}
h3, h6 {
  margin: 1vh;
}
h6 {
  font-weight: 100;
  /* font-style: italic; */
}
h2 {
  color: #eb8e89;
}

.formElement {
  align-self: flex-start;
}

#newmp3 {
  padding-left: 60px;
}

#songGallery {
  /* border: solid 3px #eb89b5; */
  border-radius: 3px;
}

.songGalleryList {
  max-height: 25vh;
  overflow: auto;
  width: 500px;
}
.songGalleryList::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.song {
  align-content: center;
  color: #eb89e6;
  transition-property: transform, color;
  transition-duration: 200ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song:hover {
  transform: translateY(-5px);
  color: #eb8e89;
  cursor: pointer;
}

.addedDate {
  color: #0a0700 !important;
  text-align: center;
  min-width: 400px;
}

.songName {
  text-align: center;
}

.otherChunk {
  cursor: pointer;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 5vh;
  padding: 0.5vh;
  padding-right: 1vh;
  transition-property: transform, color;
  transition-duration: 250ms;
}

.otherChunk:hover {
  color: #f59164;
  transform: translateY(-10px);
}

/* SESSION INFO STUFF */

.sessionInfo {
  margin: 2vh;
}

#sessionNotes {
  margin: 1vh;
}

.textInput {
  margin: 1vh;
  width: 223px;
}

.floatContainer {
  position: absolute;
  height: 50px !important;
}
.floatingInstructions {
  position: relative;
  left: -114px;
  top: 13px;
  transform: rotate(25deg);
}

.accordianTitle {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -50px;
  color: #EB89E6;
  cursor: pointer;
}

.accordianContent {
  margin-top: 25px;
}
.accordianContainer {
  min-height: 10vh;
  justify-content: start;
}
.arrowContainer {
  position: relative;
  left: -55px;
  transform: rotate(25deg);
}

.arrow {
  position: absolute;
  width: 40px;
}


/* ====== ======= ====== PRACTICE LOG ====== ======= ======*/

#practiceGrid {
  display: grid;
  grid-template-rows: 70vh auto;
}

#practiceContainer {
  display: grid;
  grid-row-start: 1;
}

.logEntry {
  margin: 1vh;
  padding: 0.5vh;
  align-items: flex-start;
  border-radius: 3px;
  width: 40vw;
  /* transition: border 100ms; */
}

/* .logEntry:hover {
  border: solid 0.5px #0a0700;
} */

.logInfo {
  font-weight: 200;
  margin: 0.5vh;
}

.n1 {
  background-color: #f8d8f7;
}

.n2 {
  background-color: #fcddcf;
}

.n3 {
  background-color: #f7d1cf;
}

#chunkTitle {
  color: #eb8e89;
}

#seshInfo {
  color: 	#f59164;
}

#otherChunks {
  color: #1d1400;
}

.scrollableDiv {
  max-height: 35vh;
  overflow: auto;
  margin-top: 0.5vh;
}

.scrollableDiv::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}



/* NAVBAR */

/* Add a black background color to the top navigation #333 */
.nav {
  background-color: #1d1400;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 15px;
  border-radius: 3px;
  transition: background-color 400ms;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  transition: color 400ms;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #eb89e6;
  color: #312200;
  cursor: pointer;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: #eb8e89;
  color: white;
}

/*
pinkest pink: eb89e6
middle pink: eb89b5
orangey pink: eb8e89

F26322

link for icon8
<a target="_blank" href="https://icons8.com/icon/yfT8zPn8iKy4/music-library">Music Library</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
*/
