#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.center {
  align-self: center;
  justify-self: center;
}

#title {
  justify-self: center;
  align-self: center;
  margin: 1vw 1vw;
}